.playing-bar {
    position: fixed;
    bottom: 0;
    background-color: #181818;
    width: 100%;
    box-shadow: 0px 1px 7px 5px #8080808f;
    height: 90px;
    color: white;
    display: flex;
}

