.main-nav {
  // position           : fixed;
  // left               : 0;
  // width              : 250px;


  // ori-  its down in .main-nav class selector
  // max-height      : calc(100vh - 90px);
  // background-color: $main-nav-bg;
  // color           : white;
  // padding-top     : 1.8rem;



  // padding-left    : 2rem;
}

.offset-main {
  min-width: 250px;
  max-width: 250px;
}

.banner {
  display      : flex;
  align-items  : center;
  font-size    : 2rem;
  padding-left : 1rem;
  color        : white;
  margin-bottom: 1rem;

  h4>span {
    color: #04c504;
  }

  img {
    display      : block;
    width        : 1.6rem;
    margin-right : 5px;
    // object-fit: cover;
  }
}

.main-nav ul {
  color          : rgb(179, 179, 179);
  list-style-type: none;

}


.nav-icon {
  font-size    : 1.25rem;
  width        : 50px;
  padding-right: 0.5rem;
  margin-right : 0.5rem;
}

.main-nav {
  max-height      : calc(100vh - 90px);
  background-color: $main-nav-bg;
  color           : white;
  padding-top     : 1.8rem;

  ul {


    &.stations {
      margin-top        : 10px;
      border-top        : 1px solid $main-nav-hover;
      padding-top       : 10px;
      // max-height     : calc(100vh - 4.8rem - 5*(2.05rem) - 10px - 110px);
      max-height        : calc(100vh - 480px);
      overflow-y        : scroll;
      overflow-x        : hidden;
      padding-bottom    : 100px;
      scrollbar-width   : thin;

      &:hover {
        transition: 0.3s;
      }

      &::-webkit-scrollbar {
        width        : 12px;
        // transition: all 0.6s ease-in-out;
      }

      &::-webkit-scrollbar-track {
        background: $main-nav-bg !important;
      }

      &::-webkit-scrollbar-thumb {
        background-color      : #555;
        border-radius         : 5px;
        // -webkit-transition : all 3s ease-in-out;
        transition            : all 2s ease-in;

        &:hover {
          background-color: $main-nav-hover;
        }
      }

      .station-link {
        text-overflow: ellipsis;

        /* Needed to make it work */
        overflow   : hidden;
        white-space: nowrap;
      }
    }

    li {
      // shahar
      // display: flex;


      //
      padding-top   : 0.4rem;
      padding-bottom: 0.4rem;
      padding-left  : 1rem;
      width         : 97%;
      margin        : auto;
      transition    : background 0.6s;
      align-items   : center;

      &:hover {
        color      : white;
        font-weight: bold;
        cursor     : pointer;
      }

      &.active {
        background-color: $main-nav-hover;
        border-radius   : 5px;
      }



      a {
        width  : 90%;
        display: inline-block;
        padding: 0.5rem 0;

        &.selected-station {
          color      : white;
          font-weight: bold;
        }

        .fa-heart::before {
          color: unset;
        }

      }

      &.nav-create:active {
        background-color: $main-nav-hover;

      }

    }
  }


  @include for-narrow-layout {
    position: absolute;
    width   : 210px;
    left    : -210px;
  }

  @include for-normal-layout {
    position: relative;
    width   : 210px;
    left    : 0;
  }

}

.liked-songs-svg {
  display   : inline-block;
  width     : 20px;
  object-fit: cover;
}