#root {
    // display        : flex;
    // flex-direction : column;
    // justify-content: space-between;
    max-height: 100vh;
}

.main-app {
    display              : grid;
    grid-template-columns: 270px 1fr;
    min-height           : 100vh;
    max-height           : 100vh;

    @include for-narrow-layout {
        grid-template-columns: 1fr;
    }


    @include for-normal-layout {
        grid-template-columns: 210px 1fr;

    }

    @include for-wide-layout {
        grid-template-columns: 270px 1fr;

    }



}