#root {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    min-height     : 100vh;
}


//  .main {
//      max-height: calc(100vh - 90px);
//      overflow-y: scroll;
//  }