.station-preview {
  // width: 200px;
  background-color: #181818;
  padding: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #282828;
  }
}

.station-name-header {
  font-family: "Roboto-bold";
  font-size: 1.25rem;
  margin-bottom: 0.3rem;
}

.station-desc {
  font-family: "Roboto";
}

.img-card {
  display: block;
  position: relative;
}

.img-container {
  margin-bottom: 1rem;
  border-radius: 4px;
}
