.user-msg {
    color: white;
    padding: 12px 20px;
    font-size: 1em;
    border-radius: 10px;
    //width:300px;
    position: fixed;
    font-family: "Quicksand-Bold";
    text-align: center;
    left: 50%;
    bottom: 200px;
    transform: translate(-50%, 72px);
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.user-msg button {
    position: absolute;
    border: 0;
    top: 3px;
    border-radius: 50%;
    background: #f0f8ff00;
    right: 3px;
}

.user-msg.success {
    background-color: $clr1;
}
.user-msg.danger {
    background-color: rgb(216, 93, 93);
}
.user-msg.notification {
    background-color: #325fc0;
    right: -100px;
    font-family: "Quicksand-Light";
    top: 16px;
    min-width: 232px;
    font-size: 17px;
    bottom: unset;
    border-radius: 4px;
    padding: 8px 28px;
    left: unset;
    @media screen and (min-width: 1000px) {
        right: -70px;
    }
}
