.friends-container {
    font-family: "Quicksand-Light";


    h1 {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: -0.04em;
        line-height: 36px;
        text-transform: none;
        text-align: center;
        margin-bottom: 20px;
        height: 40px;
    }

    input,
    h3 {
        background-color: rgba(255, 255, 255, 0.1);
        border: 0;
        border-radius: 4px;
        color: rgba(255, 255, 255, 0.7);
        height: 40px;
        opacity: 1;
        padding: 8px 32px;
        text-overflow: ellipsis;
        transition-duration: 0.3s;
        transition-property: opacity width;
        transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
        //min-width: 100%;
        outline: none;
        font-size: 18px;
    }
    & h3 {
        font-weight: unset;
        font-size: 18px;
    }
    .friend-following {
        flex-direction: column;
        @media screen and (min-width: 900px) {
            flex-direction: row;
            justify-content: space-evenly;

            &>*{
                flex: 1;
            }
        }
        gap: 20px;
        th {
            padding: 8px 0px;
            text-align: left;
        }
        td {
            height: 72px;
        }
        & td:first-child {
            width: 80px;
        }

        & td:nth-child(3) {
            min-width: 160px;
            padding-right: 30px;
        }
        & td:nth-child(4) {
            width: 300px;
        }
        & td:nth-child(2) {
            padding-right: 30px;

            &::first-letter {
                text-transform: uppercase;
            }
        }
        .all-users-container {
            display: flex;
            flex-direction: column;

            .following,
            .follow {
                /* height: 25px; */
                padding: 5px;
                margin-right: 15px;
                width: 80px;
                border-radius: 5px;
                border: 0.1px solid #4a4a4a;
                /* box-shadow: 0px 0px 2px 0.8px #594c4c; */
                background: #deb88700;
                color: white;
                font-size: 14px;
                letter-spacing: 0.6px;
                cursor: pointer;
                @media screen and (min-width: 900px) {
                    width: 120px;
                }
            }
            .follow {
                background: #1db954ba;
            }
        }
    }

    .user-track {
        padding-top: 10px;
        .track {
            color: #02d54cba;
            font-family: "Quicksand-Light";
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 300px;

            img {
                height: 55px;
            }
            div {
                white-space: nowrap;
                position: relative;
                overflow: hidden;
                width: 70%;
                height: 20px;
                display: flex;
                justify-content: center;
            }
            p {
                position: absolute;
                animation: marquee 5s linear infinite;
            }
        }

        @keyframes marquee {
            from {
                left: 100%;
            }
            to {
                left: -100%;
            }
        }
        th {
            padding: 8px 0px;
            text-align: left;
        }
        td {
            height: 72px;
        }
        & td:first-child {
            width: 80px;
        }

        & td:nth-child(3) {
            min-width: 160px;
            padding-right: 30px;
        }
        & td:nth-child(4) {
            width: 300px;
        }
        & td:nth-child(2) {
            padding-right: 30px;

            &::first-letter {
                text-transform: uppercase;
            }
        }
    }

    .following-by-user-container {
        padding-top: 40px;
        //min-width: 495px;
    }
}

.users-table,
.user-track {
    margin-top: 10px;
    border-top: 1px solid #444;
    padding-top: 10px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;

    @media screen and (min-width: 900px) {
        max-height: 488px;
        min-width: 300px;
        ::-webkit-scrollbar {
            width: 12px;
            // transition: all 0.6s ease-in-out;
        }
    }
    &::-webkit-scrollbar {
        width: 5px;
        // transition: all 0.6s ease-in-out;
    }

    &::-webkit-scrollbar-track {
        background: $main-nav-bg !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 5px;
        // -webkit-transition : all 3s ease-in-out;
        transition: all 2s ease-in;
    }
}
@media screen and (max-width: 760px) {
    .main-container {
        padding: 10px;
    }
}

.user-preview {
    justify-content: space-between;
    align-items: center;
    height: 70px;
    & span:nth-child(2) {
        margin-left: 10px;
    }
}
