.home-page {
  width: 100%;
  h3 {
    font-weight: 700;
    letter-spacing: -0.04em;
  }

  .card {
    margin-bottom: 16px;
    min-height: 300px;
    min-width: 100%;
    .card-header {
      padding-bottom: 16px;
    }
  }
}

.hero {
  background-image: url("../../img/hero-pic.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 3rem;
    background: #7a78783d;
    padding: 30px;
    border: none;
    box-shadow: 4px -2px 13px 3px #00000085;
  }
  .logo {
    //font-family: "Lobster", cursive;
    font-size: 4.5rem;

    > span {
      color: #04c504;
    }
  }
}

.recently-played {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;

  a {
    width: 100%;
    display: flex;
    grid-gap: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    height: 80px;
    position: relative;
    transition: background-color 0.3s ease;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  img {
    margin: -20px -19px -20px -1px;
    height: 117px;
    width: 115px;
    object-fit: cover;
  }
  .img-container{
    float: left;
    overflow: hidden;
    border-radius: 2px;
  }
}

.station-container {
  .genre {
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
    h4 {
      font-weight: bolder;
    }

    p {
      font-size: 0.8rem;
    }
    .station-preview {
      min-width: 150px;
      padding: 0.8rem;
      margin-bottom: 16px;
    }
  }
  .playlist-container {
    flex-direction: column;
    margin-bottom: 16px;
  }
}
