.station-details {
    td {
        vertical-align: middle;
        &.song-num{
            width: 15px;
            font-variant: tabular-nums;
        }
      }
    tr {
        border: 1px solid transparent;
        border-radius: 4px;
        height: 56px;
        position: relative;
    }
    table img {
        height: 56px;
    }
}
