.stations-container {
<<<<<<< HEAD
  width           : 100%;
  // padding-top  : 3rem;
  margin-top      : 6rem;
  padding-left    : 1.5rem;
  padding-right   : 1.5rem;

=======
  margin-top : 2rem;
  margin-left: 2rem;
>>>>>>> 25df4b410da720e3e1fa17b3ca6503c9e9a07a8d
  header {
    margin-bottom: 1rem;
  }

}

.stationss-container {
  padding-bottom: 1.5rem;
  width         : 100%;

}