.stations-header {
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.stations-container {
  width: 100%;
  padding-top: 3rem;
  margin-top: 6rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  header {
    margin-bottom: 1rem;
  }
}

.stations-wrapper {
  width: 100%;
  // padding-left  : 2rem;
  // padding-right : 2rem;
  padding-top: 3rem;
  padding-bottom: 120px;
}
.card.stations .genre {
  overflow: hidden;
  grid-gap: 5px;
  gap: 5px;
  margin-bottom: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  float: left;
}
