.grid-container-search {
    display: grid;
    width: 100%;
    //grid-template-columns: repeat(auto-fill,minmax (200px,1fr));
    grid-gap: 13px 13px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax((204px), 1fr));

    div {
        border: none;
        border-radius: 8px;
        position: relative;
        background-color: rgb(39, 133, 106);
        /* background: blueviolet; */
        height: 204px;
    }
    .div1 {
        background-color: rgb(30, 50, 100);
    }
}

section.search {
    width: 80vw;
    div:nth-child(2) {
        color: #fff;
        font-size: 29px;
    }
    form {
        height: 60px;
        width: 250px;
    }
    input {
        border: 0;
        border-radius: 500px;
        color: #000;
        height: 40px;
        padding: 6px 48px;
        text-overflow: ellipsis;
        width: 100%;
    }
}
